@charset "UTF-8";
/* listwrap.css */

/* 리스트 출력 */
.list_wrap li {display: flex; width: 100%; border-bottom: 1px solid #cdcdcd;}
.list_wrap li:first-child > span {font-weight: bold; padding: 5px 3px; font-size: 16px;}
.list_wrap li > span {padding: 10px 3px; box-sizing: border-box; font-size: 14px; align-content: center; text-align: center;}
.list_wrap li:first-child > span, .list_wrap li:first-child > span:first-child {background: #dc9247;}

/* 절기 */
.twfseason_list_wrap li > span:first-child {width: 20%;}
.twfseason_list_wrap li > span:nth-child(2) {width: 20%;}
.twfseason_list_wrap li > span:nth-child(3) {width: 20%;}
.twfseason_list_wrap li > span:last-child {width: 40%;}

/* 천간 */
.twfsky_list_wrap li > span:first-child {width: 25%;}
.twfsky_list_wrap li > span:nth-child(2) {width: 25%;}
.twfsky_list_wrap li > span:nth-child(3) {width: 25%;}
.twfsky_list_wrap li > span:last-child {width: 25%;}

/* 지지 */
.twfground_list_wrap li > span:first-child {width: 15%;}
.twfground_list_wrap li > span:nth-child(2) {width: 14%;}
.twfground_list_wrap li > span:nth-child(3) {width: 14%;}
.twfground_list_wrap li > span:nth-child(4) {width: 14%;}
.twfground_list_wrap li > span:nth-child(5) {width: 14%;}
.twfground_list_wrap li > span:nth-child(6) {width: 14%;}
.twfground_list_wrap li > span:last-child {width: 15%;}

/* 간지 */
.twfcycle_list_wrap li > span:first-child {width: 8%;}
.twfcycle_list_wrap li > span:nth-child(2) {width: 10%;}
.twfcycle_list_wrap li > span:nth-child(3) {width: 11%;}
.twfcycle_list_wrap li > span:nth-child(4) {width: 17%;}
.twfcycle_list_wrap li > span:nth-child(5) {width: 13%;}
.twfcycle_list_wrap li > span:nth-child(6) {width: 8%;}
.twfcycle_list_wrap li > span:nth-child(7) {width: 18%;}
.twfcycle_list_wrap li > span:last-child {width: 15%;}

.twfcycle_list_wrap li > span:first-child {background: #efefef;}