@charset "UTF-8";
/* sxcycle.css */

.twfcycle > span {color: #777; margin-bottom: 10px; display: block; font-size: 14px;}

.twfcycle > .sxcycle_wrap {width: 100%; text-align: right; margin-bottom: 10px;}
.twfcycle > .sxcycle_wrap > img {width: 25%;}